<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="sqlite" connectionString="Data Source=c:\SQLiteTest.db;Version=3;"/>
		<add name="sqlserver" connectionString="Data Source=localhost;Initial Catalog=SQLiteConversion;Integrated Security=SSPI;"/>
	</connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
